.header {
    padding: 1rem 2rem 1rem 2rem;
    background-color: #fcfa68;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h6 {
        margin: 0px;
    }
}

.title {
    color: #000000;
    font-size: 2rem;
    text-decoration: none;
}